.github-markdown-contents-btn {
  margin: -4px 0;
}

.github-markdown-contents-modal-holder {
  position: absolute;
  right: 10px;
  top: 30px;
  z-index: 21;
}

.file-actions .github-markdown-contents-modal-holder {
  top: 33px;
}

#github-markdown-contents-container {
  line-height: 1.6;
  padding: 10px;
  width: auto;
}

#github-markdown-contents-container ul {
  list-style-type: none;
}

#github-markdown-contents-container ul ul {
  padding-left: 1em;
}

#github-markdown-contents-container a {
  color: #4183c4;
  font-weight: bold;
}
