.github-markdown-contents {
  float: right;
  height: 0;
  position: relative;
}

.btn.github-markdown-contents-btn {
  padding: 5px 10px 0;
}

#readme .github-markdown-contents-btn {
  margin: -23px 0 0;
}

.file-actions .github-markdown-contents-btn {
  margin: 0;
}

.github-markdown-contents-modal-holder {
  position: absolute;
  right: 0;
  top: 4px;
  z-index: 21;
}

.file-actions .github-markdown-contents-modal-holder {
  top: 27px;
}

#github-markdown-contents-container {
  line-height: 1.6;
  padding: 10px;
  width: auto;
}

#github-markdown-contents-container ul {
  list-style-type: none;
}

#github-markdown-contents-container ul ul {
  padding-left: 1em;
}

#github-markdown-contents-container a {
  color: #4183c4;
  font-weight: bold;
}
